# Modify this file with the appropriate values, and move to src/config.py
WIFI_SSID = 'Example_SSID'
WIFI_PWD = 'example_password'
MQTT_HOST = 'example_ip_address'

# all units: seconds
HEARTBEAT_PERIOD      = 4
LIGHT_POLLING_PERIOD  = 1
TEMP_POLLING_PERIOD   = 10
MOTION_POLLING_PERIOD = 1
MOTION_MIN_ONTIME     = 5
BLINK_ON_TIME         = .02
BLINK_OFF_TIME        = 10
SONAR_POLLING_PERIOD  = 2
SONAR_TIMEOUT         = 2

# pin number on board
TEMP_SENSOR_PIN   = 14
MOTION_SENSOR_PIN = 12
SONAR_TRIGGER_PIN = 4
SONAR_ECHO_PIN    = 5

# sensors available
TEMP_SENSOR_TYPE  = 'DHT22'
HAS_SONAR_SENSOR  = True

# mqtt settings
MQTT_PREFIX = b'/node3'
MQTT_TOPIC_HEARTBEAT = MQTT_PREFIX + b'/heartbeat'
MQTT_TOPIC_LIGHT = MQTT_PREFIX + b'/light'
MQTT_TOPIC_TEMP = MQTT_PREFIX + b'/temp'
MQTT_TOPIC_HUMID = MQTT_PREFIX + b'/humid'
MQTT_TOPIC_MOTION = MQTT_PREFIX + b'/motion'
MQTT_TOPIC_SONAR  = MQTT_PREFIX + b'/tof'
