# Modify this file with the appropriate values, and move to src/config.py
WIFI_SSID = 'Example_SSID'
WIFI_PWD = 'example_password'
MQTT_HOST = 'example_ip_address'
HEARTBEAT_PERIOD = 4 # units: seconds
