# Modify this file with the appropriate values, and move to src/config.py
WIFI_SSID = 'Example_SSID'
WIFI_PWD = 'example_password'
MQTT_HOST = 'example_ip_address'

HEARTBEAT_PERIOD = 4 # units: seconds
LIGHT_POLLING_PERIOD = 1 # units: seconds
TEMP_POLLING_PERIOD = 10 # units: seconds
MOTION_POLLING_PERIOD = 1 # units: seconds
MOTION_MIN_ONTIME     = 5  # units: seconds

TEMP_SENSOR_PIN = 14 # pin number on board
MOTION_SENSOR_PIN = 12 # pin number on board

MQTT_PREFIX = b'/node4'
MQTT_TOPIC_HEARTBEAT = MQTT_PREFIX + b'/heartbeat'
MQTT_TOPIC_LIGHT = MQTT_PREFIX + b'/light'
MQTT_TOPIC_TEMP = MQTT_PREFIX + b'/temp'
MQTT_TOPIC_HUMID = MQTT_PREFIX + b'/humid'
MQTT_TOPIC_MOTION = MQTT_PREFIX + b'/motion'
